@import url(https://fonts.googleapis.com/css?family=Sacramento);
@import  url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);


p, h1, a {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d3d3d3;
}

.wrap {
  width: 1000px;
  height: 1200px;
  /*border: 1px solid #8080ff;*/
  box-sizing: border-box;
  background-color: #e6e6ff;
  padding: 15px;
}

.greyBox {
  width: 970px;
  height: 190px;
  background-color: grey;
  position: absolute;
  margin: none;
}

.nav {
  display: inline-block;
  width: 1000px;
  height: 185px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.siteTitle {
  font-family: "Sacramento";
  font-size: 75px;
  color: white;
  line-height: 0;
  position: relative;
  top: 55px;
}

.btn4, .btn3, .btn2, .btn1 {
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-right: 30px;
  font-size: 20px;
}


.img {
  width: 690px;
  height:700px;
  box-sizing: border-box;
  float: left;
  /*border: 1px solid black;*/
  margin: none;
  background-color: white;
  padding: 0 15px 15px;

}

.exImg1 {
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 375px;
  /*top: 675px;
  left: 25px;*/
}

.exImg2 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 375px;
  left: 110px;

}

.exImg3 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 275px;
  left: 220px;
}


.info {
  width: 275px;
  height: 700px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  float: right;
  padding: 0 15px 15px;
  line-height: 0;
  background-color: pink;
}

h1 {
  line-height: 30px;
}

p {
  line-height: 20px;
  font-size: 14px;
}

p:second-child {
  font-size: 16px;
}

.cart {
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 820px;
  left: 875px;
  text-align: center;
  line-height: normal;
}

.checkout {
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 850px;
  left: 875px;
  text-align: center;
  line-height: normal;
}

#board {
  position: absolute;
  top: 275px;
  left: 70px;
}

#planchette {
  position:relative;
  top: 225px;
  left: 200px;
}

#planchette:hover {
  position:relative;
  top: 225px;
  left: 260px;
}



/*#planchette {
  animation-name: shiftPlanchette;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes shiftPlanchette {
  0% { transform: translateX (-4em);
  }
  100% { transform: translateX (8em); }
  }*/
