@import url(https://fonts.googleapis.com/css?family=Sacramento);

.wrap {
  width: 1000px;
  height: 1200px;
  /*border: 1px solid #8080ff;*/
  box-sizing: border-box;
  background-color: #e6e6ff;
  padding: 15px;
}

.nav {
  display: inline-block;
  font-family: "Sacramento";
  width: 1000px;
  height: 185px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.siteTitle {
  font-size: 75px;
  color: white;
  line-height: 0;
  position: relative;
  top: 60px;
}

.btn1 {
  width: 100px;
  height: 25px;
  background-color: pink;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 135px;
  left: 595px;
}

.btn2 {
  width: 100px;
  height: 25px;
  background-color: pink;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 135px;
  left: 695px;
}

.btn3 {
  width: 100px;
  height: 25px;
  background-color: pink;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 135px;
  left: 795px;
}

.btn4 {
  width: 100px;
  height: 25px;
  background-color: pink;
  /*border: 1px solid black;*/
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 135px;
  left: 895px;
}

.img {
  width: 690px;
  height:700px;
  box-sizing: border-box;
  float: left;
  /*border: 1px solid black;*/
  margin: none;
  background-color: white;
  padding: 0 15px 15px;

}

.exImg1 {
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 375px;
  /*top: 675px;
  left: 25px;*/
}

.exImg2 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 375px;
  left: 110px;

}

.exImg3 {
  box-sizing: border-box;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  position: relative;
  top: 275px;
  left: 220px;
}


.info {
  width: 275px;
  height: 700px;
  box-sizing: border-box;
  /*border: 1px solid black;*/
  float: right;
  padding: 0 15px 15px;
  line-height: 0;
  background-color: pink;
}

h1 {
  line-height: 30px;
}

p {
  line-height: 20px;
  font-size: 14px;
}

.cart {
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 820px;
  left: 875px;
  text-align: center;
  line-height: normal;
}

.checkout {
  width: 100px;
  height: 25px;
  background-color: black;
  color: white;
  border: 1px solid black;
  box-sizing: border-box;
  float:right;
  position: absolute;
  top: 850px;
  left: 875px;
  text-align: center;
  line-height: normal;
}

#board {
  position: absolute;
  top: 275px;
  left: 70px;
}

#planchette {
  position:relative;
  top: 150px;
  left: 145px;
}



/*#planchette {
  animation-name: shiftPlanchette;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

@keyframes shiftPlanchette {
  0% { transform: translateX (-4em);
  }
  100% { transform: translateX (8em); }
  }*/
